body {   
    margin: 0;
    padding: 0;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-image: "img/bg_top.jpg";
    background-size: cover;
    width: 100%;
    max-width: 1920px;
    margin: 0;
    padding: 0;
}
.top_wrapper {
    position: absolute;
    margin: 0;
    padding: 0; 
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1920px;
    background-image: "img/bg_top.jpg"; 
    background-size: cover; 
    z-index: 1; 
}

.top_nav {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    background: #212121;
  }
  
  .nav_bar {
    background: #232323;
    display: flex;
    justify-content: space-between;
  }
  
  .nav_bar a.logo {
    display: block;
    width: 338px;
    height: 100px;
  }

.nav_bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 51px;
    align-content: center;
    justify-content: center;
    margin-right: 50px;
    height: 100px;
}

.nav_bar li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar li a {
    color: #FFF;
    font-weight: 600;
    text-decoration: none;
    font-family: Verdana;
}

.info_bar {

}

.info_bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 51px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
    height: 100px;
}

.info_bar ul img {
    align-self: center;
}

.info_bar li {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.info_bar div {
    display: flex;
    flex-direction: column;
}

.info_bar small {
    color: #696969;
}

.info_bar strong {

}

.info_bar span {
    color: #a4a3a3;
}

.bottom_wrapper {
    position: absolute;
    margin: 0;
    padding: 0; 
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1920px;
    background-image: "img/bg_top.jpg"; 
    background-size: cover; 
    z-index: 1;
    margin-top: 300px; 
}

.bottom_wrapper_contnent {
    width: 100%;
    max-width: 1125px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.text ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.text strong {
    font-size: 48px;
}

.text span {
    font-size: 48px;
    color: #d2002d;
}

.wrapper_buttons {

}